.layout{
    height:130vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:300px 300px 300px;
    grid-template-areas: "left right right right right right right right"
                        "left right right right right right right right"
                        "left right right right right right right right";
}